::selection {
    background-color: rgb(0, 0, 255) !important;
    color: rgb(255, 255, 255);
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/EstrellaFondo.png);
}

.contacDerecha {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../img/puenteMujer.jpeg);
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 5;
}

.contacIzquierda {
    clip-path: inset(0 0 0 2%);
}

.cardContacto {
    --bs-gutter-x: 0rem !important;
    display: flex;
    margin: 0%;
}

.Escribinos {
    text-align: center;
    margin: 2vh auto;
    border: 5px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(-225deg, rgb(22, 5, 255) 0%, rgb(0, 17, 255) 50%, rgb(10, 9, 95) 100%) 1;
    width: 180px;
}

.contactos {
    padding: 0px 25px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.438);
    width: 60%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.151);
}

.contactanos {
    text-align: center;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(-225deg, rgb(255, 209, 5) 0%, rgb(199, 137, 4) 50%, rgb(243, 207, 4) 100%) 1;
    width: 180px;
}

.redesSocialesContac {
    align-items: center;
    justify-content: center;
    z-index: 11;
    display: flex;
    height: 80px;
}

.redesSocialesContac a {
    width: 30px;
    margin: 0px 15px;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.4;
}

.redesSocialesContac a:hover {
    width: 30px;
    margin: 0px 15px;
    color: #fff;
    transform: scale(1.1);
    opacity: 1;
}

.iconFondoContactos {
    padding: 10px;
    font-size: 2rem;
    background: linear-gradient(90deg, rgb(255, 209, 5) 0%, rgb(199, 137, 4) 50%, rgb(243, 207, 4) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.filaContac {
    padding: 10px 0;
}

.tituloContac {
    font-size: 1rem;
    margin: 0;
    color: rgb(130, 130, 130);
}

.subContac {
    margin: 0;
}

.Formulario {
    margin: auto;
    width: 40vw;
    padding: 30px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.from-input {
    margin: 0;
}

.from-input label {
    margin-top: 0px;
}

.from-input input {
    margin: 10px 0;
    width: 100%;
    height: 35px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 2px;
    border: transparent;
    transition: 0.2s;
}

.from-input input:focus {
    border-bottom: 2px solid;
    border-image: linear-gradient(-225deg, rgb(22, 5, 255) 0%, rgb(0, 17, 255) 50%, rgb(10, 9, 95) 100%) 1;
    outline: none
}

.from-input textarea {
    border: none;
    margin-top: 2px;
    width: 100%;
    height: 100px;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    transition: 0.2s;
}

.from-input textarea:focus {
    border-bottom: 2px solid;
    border-image: linear-gradient(-225deg, rgb(22, 5, 255) 0%, rgb(0, 17, 255) 50%, rgb(10, 9, 95) 100%) 1;
    outline: none
}

.Enviar {
    display: flex;
    margin: 2vh auto;
    color: white;
    background-image: linear-gradient(-225deg, rgb(22, 5, 255) 0%, rgb(8, 15, 105) 50%, rgb(8, 4, 243) 100%);
    padding: 5px;
    width: 50%;
    border: none;
    transition: 0.3s;
    justify-content: center;
}

.Enviar:hover {
    transform: scale(1.05);
}

.formCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centradoForm {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}