:root {
    --dorado: linear-gradient(-225deg, rgb(255, 209, 5) 0%, rgb(199, 137, 4) 50%, rgb(243, 207, 4) 100%) 1;
}

* {
    scroll-behavior: smooth;
}

::selection {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

body {
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0f0692;
    border-radius: 50px;
}

.btnInicio {
    transform: scale(1.15);
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    width: 200px;
    border: 5px solid;
    border-image: var(--dorado);
    clip-path: polygon(98% 0, 100% 50%, 98% 100%, 2% 100%, 0% 50%, 2% 0);
    transition: 0.3s;
    margin: 30px 25px 0 25px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    opacity: 0.7;
}

.btnInicio:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    opacity: 1;
}

.flechaHaciaArriba {
    font-size: 3vh;
    background: linear-gradient(190deg, #ffd105 0%, #c78904 50%, #f3cf04 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.btnHaciaArriba {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 8;
    transition: 1s;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
    position: fixed;
    bottom: 15px;
    position: fixed;
    width: 5vh;
    height: 5vh;
    border: 2px solid;
    border-image: var(--dorado);
    right: -100px;
    opacity: 0;
}

.btnHaciaArriba:hover {
    transition: 0.5s;
    bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.btnA-activado {
    right: 15px;
    opacity: 1;
}

.nosotros {
    background-image: url(../img/EstrellaFondo.png);
    background-size: cover;
    background-position: ce;
    background-repeat: no-repeat;
}

.banner-image1 {
    padding: 0 150px;
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(25, 0, 255, 0.5), rgba(97, 97, 97, 0.274), rgba(23, 23, 24, 0.986)), url('../img/aeroWall.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 80%, 40% 90%, 0 90%);
    border: solid;
    border-bottom-width: 11vh;
    border-image: var(--dorado);
    border-top: none;
    border-left: none;
    border-right: none;
}

.banner-image2 {
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.363), rgba(23, 23, 24, 0.986)), url('../img/Fondo3.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: grayscale(100%);
    color: white;
    padding: 2rem 0;
}

.banner-image2 h5 {
    padding: 0 20vw;
    text-align: center;
}

.ImgCard {
    border-radius: 20px 0 20px 0;
}

.ImgCard2 {
    border-radius: 0 20px 0 20px;
}

.borde {
    border-radius: 50px;
}

.CardTexto p {
    text-align: center;
}

.CardTexto h5 {
    text-align: center;
    margin-top: 30%;
}

.sombraLT {
    text-shadow: -3px -3px 3px rgb(0, 0, 0, 0.5), 3px -3px 3px rgb(0, 0, 0, 0.5), -3px 3px 3px rgb(0, 0, 0, 0.5), 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.sombraL {
    text-shadow: -1px -1px 1px rgb(0, 0, 0, 0.8), 1px -1px 1px rgb(0, 0, 0, 0.8), -1px 1px 1px rgb(0, 0, 0, 0.8), 1px 1px 1px rgb(0, 0, 0, 0.3);
}

.CardInicio {
    display: flex;
    margin-bottom: 30px;
}

.botonSrlAbajo {
    display: flex;
    border: none;
    background: none;
    color: rgb(53, 52, 52);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 1.5s;
    animation-name: flechitAbajo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.botonSrlAbajo :hover {
    transform: scale(1.1);
    color: rgb(0, 18, 255);
}

.flechita {
    transition: 0.3s;
    color: rgb(182, 182, 182);
    font-size: 3rem;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    padding: 5px;
}

.videoYoutube {
    width: 100%;
    height: 315px;
    border-radius: 10px;
    border: 5px inset;
    padding: 10px;
    border-image: var(--dorado);
}


/*ANIMACION KEY*/

@keyframes flechitAbajo {
    from {
        margin-top: 38vh;
    }
    to {
        margin-top: 41vh;
    }
}


/*FIN DE ANIMACION*/


/*CARD DE SERVICIOS*/

.cardServicio {
    width: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconServicios {
    width: 150px;
}


/*BOTONES DE FOOTER*/

.redondoBotones {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    transition: 0.5s;
}

.iconos {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.prufexFooter {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
    transition: 0.5s;
}

.prufexFooter :hover {
    color: white;
}


/*FOOTER*/

footer ::selection {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(42, 63, 255);
}

.footerF {
    margin-top: 20px;
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 5%, rgba(27, 27, 27, 0.8), rgba(15, 15, 15, 0.596)), url('../img/aeroWall.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 55% 0, 50% 10%, 45% 0, 0 0);
    border: inset 7px;
    border-image: var(--dorado);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

hr {
    border-top: 4px solid #1b0fc7;
    opacity: 1;
    height: 10px;
    width: 9rem;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*Footer*/

.navlinkFooter p {
    margin-bottom: 7px;
}

.navlinkFooter p a {
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.navlinkFooter p :hover {
    color: rgb(104, 110, 143);
    margin-left: 5px;
}

.grid-container>* {
    grid-template-areas: "grid1" "grid2" "grid4" "grid3";
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.hrFooter {
    background-color: transparent;
}

@media (max-width: 1200px) {
    .grid4 {
        margin-top: 20px;
    }
    .CardInicio {
        display: grid;
    }
    .CardTexto h5 {
        margin-top: 20%;
    }
    .ventanas {
        display: grid;
    }
}

@media (max-width: 991px) {}

.titulos {
    letter-spacing: 5px;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(190deg, #ffd105 0%, #c78904 50%, #f3cf04 100%);
    -webkit-background-clip: text;
    color: transparent;
}


/*
.CuadroTitulo {
    margin: 0 0 35px 0;
    border-color: white;
    background-image: linear-gradient(#ffd105 0%, #c78904 50%, #f3cf04 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.26);
}

.PoligonoTitulo {
    padding: 40px 40px;
    background-color: white;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
}
*/

.TextInicio {
    font-size: 4rem;
    color: white;
}

.LogoInicio {
    width: 100%;
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.4));
}

.subTextInicio {
    font-size: 1.5rem;
    color: white;
}

.redes a {
    margin: 20px 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50px;
}

.cuadroText p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    color: rgb(136, 136, 136);
}

.FondoServicios {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(17, 17, 17, 0.5) 100%, rgba(62, 62, 63, 0.2) 100%, rgba(161, 161, 161, 0.2) 100%), url('../Img/img2.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    height: 300px;
}

.cardsNosotros {
    backdrop-filter: blur(5px);
    background-color: rgba(2, 2, 2, 0.075);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 10px;
    padding: 2px 10px;
}

.iconsNosotros {
    margin: auto;
    margin-top: -50px;
    width: 100px;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: rgb(226, 226, 226);
}

.btnMasIcono {
    font-size: 1rem;
}

.btnMas {
    margin-bottom: 30px;
    display: inline-block;
    background-color: #ffffff;
    border: none;
    text-align: center;
    font-size: 1rem;
    padding: 0 10px;
    transition: all 0.5s;
    cursor: pointer;
    border: 3px solid;
    border-image: var(--dorado);
}

.btnMas span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btnMas span:after {
    content: '➝';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btnMas:hover span {
    padding-right: 25px;
}

.btnMas:hover span:after {
    opacity: 1;
    right: 0;
}

.subePoco {
    transition: 1s;
}

.subePoco:hover {
    margin-top: -10px;
    margin-bottom: 10px;
}

.cercaPoco {
    transition: 1s;
}

.cercaPoco:hover {
    transform: scale(1.03);
    background: blue;
}


/*------------------------------------------NUESTROS SERVICIOS----------------------------------------------------------------------*/

.ServicosCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-size: 70vw;
    background-position: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3), rgba(78, 75, 75, 0.2)), url('../Img/ezeiza.webp');
    cursor: pointer;
    width: 100%;
    transition: 1s;
    padding: 0;
    color: #fff;
}

.ServicosCard:hover {
    background-size: 60vw;
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ServicosCard h4 {}


/*----------------------------------------------------@MEDIAS----------------------------------------------------------------------*/

@media (max-width: 850px) {
    .TextInicio {
        font-size: 4rem;
    }
    .LogoInicio {
        width: 100%;
        padding: 12px;
    }
    .tiraLogo {
        background-color: rgba(150, 150, 150, 0.384);
        height: auto;
    }
    .subTextInicio {
        font-size: 1.3rem;
    }
    .banner-image1 {
        padding: 0px;
    }
    @media (max-width: 767px) {
        .footerB {
            text-align: center;
        }
        .redes div {
            margin: auto auto;
        }
        .hrFooter {
            margin: auto;
            width: 160px;
            margin-bottom: 20px;
        }
        .footerF {
            border: inset 7px;
            border-image: var(--dorado);
            border-left: none;
            border-right: none;
            border-bottom: none;
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 55% 0, 50% 5%, 45% 0, 0 0);
        }
    }
    @media (max-width: 440px) {
        .titulos {
            font-size: 40px;
        }
        .cuadroText p {
            font-size: 20px;
        }
        .footerF {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 60% 0, 50% 4%, 40% 0, 0 0);
        }
        .banner-image1 {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 65% 90%, 50% 82%, 35% 90%, 0 90%);
        }
        .flechita {
            font-size: 2.2rem;
        }
    }
}

@media (max-width: 505px) {
    .LogoInicio {
        filter: drop-shadow(0px 10px 5px rgba(194, 194, 194, 0));
    }
    .btnInicio {
        background-color: rgba(0, 0, 0, 0.199);
        color: white;
        width: 80%;
        border-bottom-width: 2px;
        border-top-width: 2px;
        opacity: 0.7;
        clip-path: polygon(99% 0, 100% 50%, 99% 100%, 1% 100%, 0% 50%, 1% 0);
    }
    .btnInicio:hover {
        color: rgb(255, 255, 255);
        transform: scale(1.2);
        opacity: 1;
    }
}

@media (max-width: 330px) {
    .btnInicio {
        background-color: rgba(0, 0, 0, 0.199);
        color: white;
        width: 80%;
        border-bottom-width: 2px;
        border-top-width: 2px;
        opacity: 0.7;
        clip-path: polygon(98% 0, 100% 50%, 98% 100%, 2% 100%, 0% 50%, 2% 0);
    }
    .titulos {
        font-size: 30px;
    }
    .banner-image1 {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 90%, 50% 82%, 30% 90%, 0 90%);
    }
    .flechita {
        margin-top: 30px;
        font-size: 2rem;
    }
}