nav {
    background-color: rgb(21, 19, 146);
    height: 80px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
}

nav ul li {
    line-height: 80px;
    display: inline-block;
    position: relative;
    padding: 15px 0;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-color: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
}

nav ul li a:after {
    align-content: center;
    margin-top: -20px;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: rgb(161, 161, 161);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.checkbtn #spn1,
#spn2,
#spn3 {
    display: flex;
    content: '';
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 3px;
    transition: all 400ms ease;
    position: relative;
}

#spn2 {
    margin-top: 8px;
}

#spn3 {
    margin-top: 8px
}

#check {
    display: none;
}

.sombraA {
    box-shadow: 0px 0px 30px rgba(42, 43, 43, 0.644)
}


/*LOGO*/

.imgLogo {
    width: 150px;
}

@media (max-width: 1220px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 467px) {
    label.logo {
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .imgLogo {
        width: 90px;
    }
}

@media (max-width: 311px) {
    label.logo {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .imgLogo {
        width: 60px;
    }
}


/*FIN DE LOGO*/

@media (max-width: 1078px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
        margin-top: 78px;
        top: -100%;
        text-align: center;
        transition: 1s;
        z-index: -1;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 50px;
    }
    s nav ul li a {
        margin-right: 30px;
        font-size: 18px;
    }
    a:hover,
    a.active {
        background: rbga(0, 0, 0, 0);
        color: #ffffff;
    }
    #check:checked~ul {
        opacity: 100%;
        top: 0;
    }
    #check:checked~.checkbtn #spn1 {
        transform: rotate(140deg);
        top: 10px;
    }
    #check:checked~.checkbtn #spn2 {
        opacity: 0;
    }
    #check:checked~.checkbtn #spn3 {
        transform: rotate(-140deg);
        top: -11px;
    }
    nav ul li a:after {
        margin-top: 0;
        position: relative;
    }
}