nav {
    align-items: center;
    justify-content: right;
    height: 80px;
    right: 0;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 10;
}

.redesSociales {
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: absolute;
    display: flex;
    height: 80px;
    margin-top: -5px;
}

.redesSociales a {
    width: 30px;
    margin: 0px 15px;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.4;
}

.redesSociales a:hover {
    width: 30px;
    margin: 0px 15px;
    color: #fff;
    transform: scale(1.1);
    opacity: 1;
}

nav ul {
    padding: 0;
    padding-left: 50px;
    list-style: none;
    display: table;
    position: fixed;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 10% 90%);
    transition: 0.5s;
}

.navFixedDark {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li {
    line-height: 80px;
    display: inline-block;
    position: relative;
    padding: 15px 0;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px;
}

nav ul li a:after {
    position: relative;
    align-content: center;
    margin-top: -22px;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    left: 100%;
    border: solid 1px;
    border-image: var(--dorado);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: rgb(226, 226, 226);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    transition: 1s;
}

.checkbtn #spn1,
#spn2,
#spn3 {
    display: flex;
    content: '';
    border: solid 2px;
    border-image: var(--dorado);
    width: 32px;
    height: 0vh;
    transition: all 400ms ease;
    position: relative;
}

#spn2 {
    margin-top: 8px;
}

#spn3 {
    margin-top: 8px
}

#check {
    display: none;
}

.sombraA {
    box-shadow: 0px 0px 30px rgba(42, 43, 43, 0.644)
}


/*LOGO*/

.imgLogo {
    width: 150px;
}


/*FIN DE LOGO*/

@media (max-width: 850px) {
    .checkbtn {
        position: fixed;
        display: block;
        z-index: 10;
        background-color: rgba(8, 8, 8, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    .inicioNav {
        margin-top: 100px;
    }
    nav ul {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%);
        right: -100%;
        backdrop-filter: blur(10px) !important;
        text-align: center;
        transition: 1s;
        z-index: 5;
        top: 0;
        clip-path: none;
        padding-left: 0;
        border-radius: 30% 0 0 30%;
    }
    .navFixedDark {
        background-color: rgba(2, 2, 2, 0);
    }
    nav ul li {
        display: block;
        line-height: 50px;
    }
    a:hover,
    a.active {
        background: rbga(0, 0, 0, 0);
        color: #ffffff;
    }
    #check:checked~ul {
        opacity: 100%;
        right: 0;
        border-radius: 0;
    }
    #check:checked~.checkbtn #spn1 {
        transform: rotate(140deg);
        top: 10px;
    }
    #check:checked~.checkbtn #spn2 {
        opacity: 0;
    }
    #check:checked~.checkbtn #spn3 {
        transform: rotate(-140deg);
        top: -13px;
    }
    nav ul li a:after {
        left: 50%;
        margin-top: 0;
        position: relative;
    }
    .redesSociales {
        align-items: center;
        justify-content: center;
        z-index: 11;
        position: absolute;
        display: flex;
        height: 80px;
        left: 50%;
        right: 50%;
    }
}

@media (max-width: 380px) {
    .checkbtn {
        margin-top: 90px;
        margin-left: -1px;
        left: 50%;
        transform: translate( -50%);
    }
    .botonArriba {
        margin-top: 0px!important;
    }
    nav ul {
        opacity: 0;
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%);
        top: -100%;
        text-align: center;
        transition: 1s;
        z-index: 5;
        right: 0;
        border-radius: 0 0 30% 30%;
    }
    #check:checked~ul {
        opacity: 100%;
        top: 0;
    }
}