* {
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0f0692;
    border-radius: 50px;
}

.banner-image1 {
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(25, 0, 255, 0.7), rgba(87, 85, 85, 0.274), rgba(23, 23, 24, 0.986)), url('../img/aeroWall.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 80%, 40% 90%, 0 90%);
}

.ImgCard {
    border-radius: 20px 0 20px 0;
}

.ImgCard2 {
    border-radius: 0 20px 0 20px;
}

.borde {
    border-radius: 50px;
}

.CardTexto p {
    text-align: center;
}

.CardTexto h5 {
    text-align: center;
    margin-top: 30%;
}

.sombraLT {
    text-shadow: -3px -3px 3px rgb(0, 0, 0, 0.5), 3px -3px 3px rgb(0, 0, 0, 0.5), -3px 3px 3px rgb(0, 0, 0, 0.5), 3px 3px 3px rgb(0, 0, 0, 0.3);
}

.sombraL {
    text-shadow: -1px -1px 1px rgb(0, 0, 0, 0.8), 1px -1px 1px rgb(0, 0, 0, 0.8), -1px 1px 1px rgb(0, 0, 0, 0.8), 1px 1px 1px rgb(0, 0, 0, 0.3);
}

.CardInicio {
    display: flex;
}


/*VENTANAS*/

.ventanas {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../img/img2.jpeg);
    display: flex;
}

.valorTicket {
    font-size: 1.5rem;
}

.vista1 {
    backdrop-filter: blur(10px);
}

.vista1 h5 {
    font-size: 3rem;
    margin-top: 25px;
}

.segunda {
    align-content: center;
    justify-content: center;
    height: 420px;
}

.corte {
    border-radius: 0 50px 0 50px;
}

.botonesVisita {
    display: absolute;
}

.botonesVisita li {
    padding: 10px;
}

.botonesVisita button {
    width: 200px;
}


/*BOTONES DE FOOTER*/

.redondoBotones {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    transition: 0.5s;
}

.iconos {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


/*FOOTER*/

.footerF {
    margin-top: 20px;
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 5%, rgba(27, 27, 27, 0.8), rgba(15, 15, 15, 0.596)), url('../img/aeroWall.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 55% 0, 50% 10%, 45% 0, 0 0);
    border: inset 5px;
    border-color: rgba(255, 208, 0);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

hr {
    border-top: 4px solid #0f0692;
    opacity: 1;
    height: 10px;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*Footer*/

.navlinkFooter p {
    margin-bottom: 7px;
}

.navlinkFooter p a {
    color: white;
    text-decoration: none;
}

.navlinkFooter p a :hover {
    color: red;
}

.grid-container>* {
    grid-template-areas: "grid1" "grid2" "grid4" "grid3";
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

@media (max-width: 1200px) {
    .grid4 {
        margin-top: 20px;
    }
    .CardInicio {
        display: grid;
    }
    .CardTexto h5 {
        margin-top: 20%;
    }
    .ventanas {
        display: grid;
    }
}

@media (max-width: 991px) {}

.titulos {
    font-family: serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
}

.cuadroTitulo {
    margin: 35px 0;
    padding: 40px 40px;
}

.TextInicio {
    font-size: 4rem;
    color: white;
}

.LogoInicio {
    width: 80%;
}

.subTextInicio {
    font-size: 1.5rem;
    color: white;
}

.redes a {
    margin: 20px 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50px;
}

.cuadroText p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    color: rgb(136, 136, 136);
}

@media (max-width: 1059px) {
    .TextInicio {
        font-size: 4rem;
    }
    .LogoInicio {
        width: 90%;
    }
    .subTextInicio {
        font-size: 1.3rem;
    }
}

.FondoServicios {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(17, 17, 17, 0.5) 100%, rgba(62, 62, 63, 0.2) 100%, rgba(161, 161, 161, 0.2) 100%), url('../Img/img2.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    width: 100%;
    height: 300px;
}

@media (max-width: 767px) {
    .footerB {
        text-align: center;
    }
    .redes div {
        margin: auto auto;
    }
    .hrFooter {
        margin: auto;
        width: 160px;
        margin-bottom: 20px;
    }
    .footerF {
        border: inset 7px;
        border-color: rgba(255, 208, 0);
        border-left: none;
        border-right: none;
        border-bottom: none;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 55% 0, 50% 5%, 45% 0, 0 0);
    }
}

@media (max-width: 440px) {
    .titulos {
        font-size: 40px;
    }
    .cuadroText p {
        font-size: 20px;
    }
    .footerF {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 60% 0, 50% 4%, 40% 0, 0 0);
    }
}

@media (max-width: 330px) {
    .titulos {
        font-size: 30px;
    }
}